.tot{
    margin-top: 25px;
    width: 40%;
    border: 2px solid black;
    font-size: 20px;
}
.checkoutBtn{
    margin-left: 45%;
    margin-top: 1%;
    width: 10%;
}
@media only screen and (max-width: 700px){
    .tot{
        width: 80%;
    }
    .checkoutBtn{
        width: 60%;
        margin-left: 20%;
    }
}