.cardProducts{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
}
.cardProduct{
    display: flex;
    text-align: justify;
}
.imgSample{
    height: 70%;
    width: 15vw;
    background: #C4C4C4;
    margin: 0px 15px;
    margin-left: 3%;
    cursor: pointer;
}
.desc{
    font-size: 14px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  /* white-space: nowrap; */
}
.cartBtn{
    background-color: #E4C9DF;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    margin-left: 25%;
    width: 10vw;
}
.number{
    position: relative;
    font-size: 24px;
    color: royalblue;
    margin: 4px;
    top: 4px;

}
.btnPlusMinus{
    background: #E4C9DF;
    border: none;
    border-radius: 10px;
    margin: 4px;
}
.h4{
    text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
    .cardProducts{
        display: block;
        width: 70%;
        margin-left: 20%;
    }
    .h4{
        width: 60%;
    }
    .desc{
        width: 60%;
    }
    .cartBtn{
        width: 40%;
    }
}