/* @import '~mdb-ui-kit/css/mdb.min.css'; */
body{
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

}
.img-main{
    width: 100%;
    height: 383px;
    background-color: #CDB8C9;
}
.box-2{
    position: relative;
    margin-left: 15%;
    margin-top: -5%;
    width: 90vw;
    height: 60vh;
    background: #FFFDFD;
    box-shadow: 0px 4px 6px 8px rgba(0, 0, 0, 0.25);
}
.box-2 h1{
    padding: 10px 50px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;

}
.flex-inside-flex{
    margin-left: 60px;
    width: 440px;
    height: 270px;
}
/* .flex-container > div {
    background-color: #f1f1f1;
    width: 440px;
    height: 270px;
    margin: 10px;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
  } */
.explore-img{
    padding: 0;
    margin-left: -60px;
    margin-top: 5%;
    width: 50%;
    height: 230px;
}
.desc{
    margin-left: 5%;
    width:50%;
}
.desc h3{
    font-size: 35px;
    width: 240px;
    text-align: center;
    padding-top: 30px;
}
.desc p{
    display: inline-block;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.headings-all, h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', serif;
}
.footer-main-body{
    margin: 0;
    max-width: 100%;
    text-align: left;
}
.brands{
    width: 80%;
    display: flex;
    margin-left: 18%;
}
.brands img{
    width: 12%;
    margin-left: 10px;
}
.design1{
margin-left: 5%;
margin-bottom: 5%;
opacity: 0.8;
}
.design2{
    position: absolute;
    top: 1100px;
    left: 880px;
    z-index: -1;
    opacity: 0.8;
}
.design3{
    position: absolute;
width: 255px;
left: 980px;
top: 1557px;

opacity: 0.8;
}
.clothings{
    margin-left: 20%;
    z-index: 1;
    margin-bottom: 200px;
}
.clothing{
    display: inline-block;
    width: 35%;
    height: 360px;
    border: #CDB8C9 solid 1px;
    margin: 0 10px;
    background-color: #CDB8C9;
}
.clothing h1{
    text-align: right;
}
.clothing-link{
    position: relative;
    color: black;
    top: 45%;
    left: -70%;
    text-decoration: none;
}

.imgclothing{
    height: 70%;
    margin-left: 15%;
  }