/* @import '~mdb-ui-kit/css/mdb.min.css'; */
body{
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

}
.img-main{
    width: 100vw;
    height: 383px;
    background-color: #CDB8C9;
}
.main-slogan{
    font-size: 48px;
    width: 60%;
    padding-top: 6%;
    padding-left: 8%;
  }
  .maingirl{
    position: absolute;
    /* top: 10%; */
    top: 6%;
    left: 65%;
  }
  
.box-2{
    /* display: flex; */
    position: relative;
    margin-left: 5%;
    margin-top: -5%;
    width: 90vw;
    height: 60vh;
    background: #FFFDFD;
    box-shadow: 0px 4px 6px 8px rgba(0, 0, 0, 0.25);
}
.box-2 h1{
    padding: 10px 50px;
}
.flexDiv{
    display: flex;
}

.blockinlinetwo{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: 10%;
}
/* .blocksecond{
    left: 50%;
    top: -43%;
} */
.imagesattop{
    width: 25vw;
}
.parablock{
    /* position: relative; */
    width: 40%;
    margin-left: -25%;
    margin-top: 5%;
}
.flex-container {
    display: flex;
    flex-wrap:wrap;
    /* flex-shrink: 2; */
    /* width: 10%; */

}
.flex-inside-flex{
    margin-left: 60px;
    width: 100%;
}
/* .flex-container > div {
    background-color: #f1f1f1;
    width: 440px;
    height: 270px;
    margin: 10px;
    margin-left: 50px;
    text-align: center;
    font-size: 30px;
  } */
.explore-img{
    padding: 0;
    margin-left: -60px;
    margin-top: 5%;
    width: 50%;
}
.desc{
    margin-left: 5%;
    width:50%;
}
.desc h3{
    font-size: 35px;
    width: 125%;
    text-align: center;
    padding-top: 30px;
}
.desc p{
    display: inline-block;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.headings-all, h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', serif;
}
.footer-main-body{
    margin: 0;
    max-width: 100%;
    text-align: left;
}
.brands{
    width: 80%;
    display: flex;
    margin-left: 18%;
    flex-wrap: wrap;
}
.brands img{
    width: 12%;
    margin-left: 10px;
}
.design1{
margin-left: 5%;
margin-bottom: 5%;
opacity: 0.8;
}
.design2{
    position: absolute;
    top: 1100px;
    left: 70%;
    z-index: -1;
    opacity: 0.8;
}
.design3{
    position: absolute;
width: 255px;
left: 78%;
top: 250%;

opacity: 0.8;
}
.clothings{
    margin-left: 20%;
    z-index: 1;
    margin-bottom: 200px;
}
.clothing{
    display: inline-block;
    width: 35%;
    height: 360px;
    border: #CDB8C9 solid 1px;
    margin: 0 10px;
    background-color: #CDB8C9;
}
.clothing h1{
    text-align: right;
}
.clothing-link{
    position: relative;
    color: black;
    top: 45%;
    left: -70%;
    text-decoration: none;
}

.imgclothing{
    height: 80%;
    margin-left: 15%;
  }

  .caraouselMain{
    width: 125%;
}
@media only screen and (max-width: 1100px){
    .box-2{
        height: 50vh;
    }
}

@media only screen and (max-width: 992px){
    .imgclothing{
        margin-left: 0;
    } 
    .imagesattop{
        width: 20vw;
    }

    .box-2{
        /* display: flex; */
        /* margin-top: -5%;
        width: 90vw; */
        height: 40vh;
    }
    .parablock{
        width: 25%;
    }
}
@media only screen and (max-width: 940px){
    .design3{
        left: 70%;
    }
    .brands img{
        width: 25%;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 847px){
    .maingirl{
        top: 8%;
        left: 60%;
    }
    .clothing h1{
        font-size: 28px;
    }
    .clothing{
        width: 70%;
        margin-left: 0;
    }
    .imgclothing{
        margin-left: 20%;
    }
    .clothings{
        margin-left: 30%;
    }

}
@media only screen and (max-width: 772px){
    .maingirl{
        left: 52%;
    }
    .design3{
        visibility: hidden;
    }
    .design2{
        visibility: hidden;
    }
    .main-slogan{
        font-size: 40px;
    }
    .box-2{
        /* margin-left: 10%; */
    }
}
@media only screen and (max-width: 700px){
    .box-2{
        height: 50vh;
    }
}
@media only screen and (max-width: 630px){
    .clothing{
        width: 100%;
    }
    .clothings{
        margin-left: 0;
    }
}
@media only screen and (max-width: 605px){
    .maingirl{
        left: 55%;
        top: 10%;
    }
    .main-slogan{
        font-size: 36px;
    }
    .parablock{
        width: 40%;
        margin-left: -30%;
    }
    .box-2 h3{
        margin-left: -20%;
    }
    .box-2{
        height: 35vh;
    }
}
@media only screen and (max-width: 580px){
    .box-2{
        /* width: 100%; */
        height: 50vh;
    }
    .maingirl{
        width: 40%;
        top: 25%;
    }
    .caraouselMain{
        width: 125%;
    }
}
@media only screen and (max-width: 454px){
    
    .box-2{
        /* width: 120%; */
    }
    .clothing{
        width: 100%;
    }
}