body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #885050;
  opacity: 0.7;
}

.logo{
  width: 100%;
}

.globe{
  height: 100vh;
  width: 50vw;
  padding-left: 5%;
}

form{
  position: absolute;
  width: 40%;
  height: 50%;
  left: 55%;
  top: 25%;

  box-sizing: border-box;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  
}
.viewProdBtn{
  position: relative;
  left: 20%;
}

.carouselh1{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  padding: 15px;
  min-width: 60px;
  text-align: center;
  margin-left: 10%;
  color: #AF9595;
}
.lock{
  font-size: 24px;
  padding: 12px;
}

.input-field {
  height: 50px;
  width: 256px;
  left: 732px;

  padding: 10px;
  margin-left: 10%;
  padding-left: 10%;

  background: #FFFBFE;
  color: #885050;
  border: 0.75px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* align-items: center; */
}
.google-signin{
  padding: 0;
  text-align: left;
  width: 264px;

}

.google-span{
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #070000;
}

.rule {
  display: inline-block; 
  width: 20%;
  position: relative;
  top: .666em;
}
.hr-span{
  font-size: 20px;
}

h2{
  position: absolute;
  width: 40%;
  height: 50%;
  left: 55%;
  top: 10%;
  font-size: 36px;
}

.btnsubmit{
  background-color: #0811ED;
  color: white;
  padding-left: 10px;
}

.forgot{
  margin-left: 37%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration: none;

  color: #7C64EF;
}

.tnc{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-right: 25%;
  padding: 20px 0px;
}
.link2{
  text-decoration: none;
  color: #8C6E86;
}
.link2:hover{
  color: #644b60;

}

.chng{
  margin-left:3%; 
  top:25%;
}
.chng-form{
  top: 40%;
}
label{
  margin-left: 55px;
  margin-bottom: 5px;
}
.donthave-su{
  top: 108%;
}

form h4{
  width: 80%;
  padding-bottom: 5%;
  margin-left: 10%;
}

.alerts{
  color: red;
  margin-left: 12%;
}
.alert{
  width: 30vw;
}
.navibar{
  position: fixed;
  width: 100%;
  min-width: 100px;
  z-index: 3;
}
.searchbar{
  left: 30%;
  width: 400px;
}
.navlinks{
  margin-left: 60%;
}
.scrollsearch{
  visibility: collapse;
}

.whole{
  text-align: center;
}
.hr-wish{
  width: 90%;
  margin-left: 5%;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.7;
}

.carousel-image{
  width: 200px;
  height: 200px;
  background: #C4C4C4;
}
.oval{
  display: inline-block;
  width: 20%;
  height: 55vh;
  background: #C4C4C4;
  border-radius: 50%;
}
.oval1{
  margin-top: 10%;
  margin-left: 10px;
}
.oval2{
  display: inline-block;
  margin: 0 20%;
  position: absolute;
}
.oval3{
  margin-left: 58%;
}

.oval-img{
  height: 55vh;
  border-radius: 50%;
  width: 100%

}

.priceTag{
  width: 100%;
  text-align: center;
  font-size: 24px;
}


.flip-card {
  background-color: transparent;
  width: 20%;
  height: 55vh;
  
  border: 1px solid #f1f1f1;
  border-radius: 50%;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #B4AC9D;
  color: white;
  transform: rotateY(180deg);
  padding-top: 10%;
}
.flip-card-back h1{
  width: 50%;
  margin-left: 25%;
}
.flip-card-back p{
  width: 80%;
  margin-left: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.prev-nex{
  /* width: 20%; */
  margin-left: 40%;
  margin-top: 5%;
}
.prev-nex button{
  width: 10vw;
}
.login-button{
  position: relative;
  width: 50%;
  height: 40px;
  top: 8px;
}
.eye{
  margin-left: -8%;
  margin-bottom: 5px;
  color: #AF9595;
}
.loader{
  color: #7C64EF;
}

@media only screen and (max-width: 1200px){
  .searchbar{
    width: 320px;
    left: 25%;
  }
  .navlinks{
    margin-left: 50%;
  }
}
@media only screen and (max-width: 1100px) {
  .alert{
    width: 90%;
  }
  .navlinks{
    margin-left: 43%;
    padding-left: 8%;
  }
}
@media only screen and (max-width: 991px) {
  
  .searchbar{
    visibility: hidden;
  }
  .scrollsearch{
    visibility: visible;
  }
  
  
  .navlinks{
    margin-left: 0;
  }
  .eye{
    margin-left: -12%;
  }
  .input-field{
    padding: 10px;
  margin-left: 10%;
  padding-left: 15%;
  }
}
@media only screen and (max-width: 845px) {
  .scrollsearch{
    width: 30%;
  }

}
@media only screen and (max-width: 720px) {
  .oval, .oval-img{
    height: 35vh;
  }
  .globe{
    height: 50vh;
    width: 50vw;
    padding-left: 5%;
    margin-left: 25%;
  }
  h2, .chng{
    top: 47%;
    left: 0;
    margin-left: 15%;
    width: 80%;
  }
  form{
    top: 57%;
    left: 0;
    margin-left: 7%;
    width: 75%;
  }
  .chng-form{
    top: 70%;
  }
  .input-field{
    width: 100%;
  }
  .rule{
    width: 23vw;
    margin-left: 0;
    margin-right: 0;

  }
  .rule-div{
    position: absolute;
    left: 11%;
    width: 80vw;
  }
  .forgot{
    margin-left: 45%;
  }
  .tnc{
    margin-left: 10%;
    width: 100%;
  }
  .alert{
    margin-top: 5%;
    margin-left: 12%;
  }
  .homelink{
    margin-top: 20%;
  }
  .navlinks{
    text-align: center;

  }
  .scrollsearch{
    margin-top: -30%;
    margin-left: 17%;
    width: 70%;
  }
  .login-button{
    margin-left: 30%;
  }
  .eye{
    position: relative;
    margin-left: 100%;
    top: -36px;
  }
}
@media only screen and (max-width: 545px){
  .homelink{
    margin-top: 23%;
  }
  .scrollsearch{
    margin-top: -35%;
    width: 50%;
  }
  .navlinks{
    width: 50%;
  }
  .oval2{
    margin: 0 10%;
  }
  .oval3{
    margin-left: 45%;
  }
}

@media only screen and (max-width: 480px){
  .navibar{
    width: 90%;
  }
}
@media only screen and (max-width: 454px){
  
  h2{
    font-size: 30px;
  }
  .hr-span{
    font-size: 18px;
  }
  .rule{
    width: 20vw;
  }
}
@media only screen and (max-width: 384px){
  h2{
    font-size: 26px;
  }
  .hr-span{
    font-size: 16px;
  }
  .rule{
    width: 18vw;
  }
  .google-span{
    font-size: 18px;
  }
}
